<!DOCTYPE html>
<html>
	<head>
		<title>Segment OJ</title>
	</head>

	<body>
		<div id="load_cdn">
		<!--MathJax-->
		<script type="text/x-mathjax-config">
			MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
		</script>
		<script type="text/javascript"
			src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
		</script>
		</div>
		
		<div id="load_static">
			<script src="/static/js/jquery.min.js"></script>
			{% block static %}
			{% endblock %}
		</div>

		<div id="nav">
			<ul>
				<li>
					<a href="/">Welcome</a>
				</li>
				<li>
					<a href="/problem/list">Problems</a>
				</li>
			</ul>
			
			<div id="user info">
				{% if user.is_authenticated %}
				Hello,{{ user.username }}.
				<a href="/user/logout">logout</a>
				{% else %}
				<a href="/user/login">Login</a>
				<a href="/user/register">Register</a>
				{% endif %}
			</div>

		</div>
		<main>
			{% block main %}
			{% endblock main %}
		</main>
		
	</body>
</html>