{% extends "base.html" %}
{% block static %}
<script type="text/webimport">
registerXS
</script>
{% endblock %}

{% block main %}
<div class="box">
  <form action="#" method="post" onsubmit="register('{{ csrf_token }}');return false;">
    Username: <input type="text" name="username" />
    Password: <input type="password" name="password" />
    Password Confirmation: <input type="password" name="password_confirmation" />
    email: <input type="email" name="email" /> <br>
  </form>
  <div id="message"></div>
</div>
{% endblock %}