<!DOCTYPE html>
<html>
	<head>
		<title>Segment OJ</title>
	</head>

	<body>
		<div id="load_static">
			<script src="/static/js/jquery.min.js"></script>
			{% block static %}
			{% endblock %}
		</div>

		<div id="nav">
			<ul>
				<li>
					<a href="/">Welcome</a>
				</li>
				<li>
					<a href="/problem/list">Problems</a>
				</li>
			</ul>
			
			<div id="user info">
				{% if user.is_authenticated %}
				Hello,{{ user.username }}.
				<a href="/user/logout">logout</a>
				{% else %}
				<a href="/user/login">Login</a>
				{% endif %}
			</div>

		</div>
		<main>
			{% block main %}
			{% endblock main %}
		</main>
		
	</body>
</html>